@import "./styles/modern-normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-very-light-grayish-blue: hsl(210, 60%, 98%);
    --clr-light-grayish-blue-1: hsl(211, 68%, 94%);
    --clr-light-grayish-blue-2: hsl(205, 33%, 90%);
    --clr-grayish-blue: hsl(219, 14%, 63%);
    --clr-dark-grayish-blue: hsl(219, 12%, 42%);
    --clr-very-dark-blue: hsl(224, 21%, 14%);
    --clr-blue: hsl(219, 85%, 26%);
    --clr-red: hsl(1, 90%, 64%);

    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    /* paragraph base font size 16px */
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    /* .5rem = 8px */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}


button {
    display: inline;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-rose);
}

strong {
    color: var(--clr-indigo);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* scroll bar */

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--clr-rose);
    outline: 1px solid var(--clr-rose);
    border-radius: 20px;
}

@import "./styles/utils.css";